.moviecard-container {
  width: 200px;
}

.moviecard-container > button {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px gray;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
}

.moviecard-container > button:hover {
  opacity: 70%;
}

.moviecard-container > button > img {
  width: 100%;
  height: 250px;
}

.moviecard-text {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: rgb(40, 40, 40);
  box-sizing: border-box;
}

.moviecard-text p {
  font-size: 18px;
  font-weight: 500;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.moviecard-text p:last-child {
  width: 33%;
  text-align: right;
}

.moviecard-text p:first-child {
  width: 60%;
  text-align: left;
}