.moviecard-container {
  width: 250px;
}

.moviecard-container > button {
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px gray;
  box-sizing: border-box;
  padding: 0;
  background-color: black;
}

.moviecard-container > button:hover {
  opacity: 70%;
}

.moviecard-container > button > img {
  width: 250px;
  height: 150px;
}

.moviecard-text {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(40, 40, 40);
  box-sizing: border-box;
}

.moviecard-text > p {
  font-size: 18px;
  font-weight: 500;
}