.testcomplete-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.testcomplete-box {
  width: 720px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.testcomplete-box > img {
  width: 100px;
  height: 100px;
}

.testcomplete-box > p {
  height: 100px;
  padding-left: 30px;
  padding-top: 5px;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  line-height: 45px;
}