p {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px;
}

input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  color: rgb(60, 60, 60);
  box-sizing: border-box;
}

.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-inner-container {
  width: 600px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.signup-inner-container > p:first-child {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.signup-text {
  width: 100%;
  height: 30px;
  display: flex;
  margin-bottom: 5px;
}

.signup-text > p:first-child {
  margin-left: 2px;
}

.signup-input-text {
  visibility: hidden;
}

.signup-input-text-error {
  font-size: 14px;
  color: rgb(140, 80, 80);
  text-align: center;
  margin-left: 20px;
  margin-top: 2px;
}

.signup-input-text-id {
  font-size: 14px;
  color: rgb(80, 85, 140);
  text-align: center;
  margin-left: 20px;
  margin-top: 2px;
}

.signup-id {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-id-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.signup-id-input > button {
  width: 80px;
  height: 100%;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgb(60, 60, 60);
  color: white;
}

.signup-id-input > input {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  color: rgb(60, 60, 60);
  box-sizing: border-box;
}

.signup-pw {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-etc {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-etc > p {
  margin-bottom: 3px;
  margin-left: 2px;
}

.signup-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signup-button > button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-family: 'Batang';
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-left: 15px;
  color: white;
  background-color: rgb(140, 80, 80);
}

.visible-button {
  visibility: visible;
}

.invisible-button {
  visibility: hidden;
}