.test-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-title {
  width: 100%;
  margin-bottom: 70px;
  font-size: 35px;
  text-align: center;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(140, 80, 80);
}

.button-container button:first-child {
  margin-right: 440px;
}

.invisible-button {
  visibility: hidden;
}