p {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

input {
  width: 720px;
  height: 38px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  color: rgb(60, 60, 60);
  box-sizing: border-box;
}

.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 720px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.signup-box > p:first-child {
  width: 100%;
  height: 100px;
  font-family: 'GmarketMedium';
  font-size: 34px;
  letter-spacing: 2px;
}

.signup-text {
  width: 100%;
  height: 30px;
  display: flex;
}

.signup-text > p:first-child {
  padding-top: 3px;
  box-sizing: border;
  margin-left: 2px;
}

.signup-text > p:last-child {
  font-size: 14px;
  color: rgb(140, 80, 80);;
  text-align: center;
  padding-top: 8px;
  padding-left: 30px;
  box-sizing: border-box;
}

.signup-id {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-id-input {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.signup-id-input > button {
  width: 80px;
  height: 100%;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: rgb(60, 60, 60);
  color: white;
}

.signup-id-input > input {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  color: rgb(60, 60, 60);
  box-sizing: border-box;
}

.signup-pw {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-etc {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.signup-etc > p {
  margin-bottom: 3px;
  margin-left: 2px;
}